@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

mat-tree{
  height: 100vh;
  width: 300px;
  padding-top: 5px;
  background: brown;
}
.mat-tree {
  background: aliceblue;
  border-right: 1px solid dodgerblue;
  padding-left: 0;
}
.tree-button{
  background: transparent;
  border: 0;
  outline: none;
}
.tree-button:hover{
  font-size: 1.2em;
  text-decoration: underline;
}
.tree-button:focus{
  border: 0 solid transparent;
  color: green;
  text-decoration: underline;
  font-size: 1.2em;
}
.tree-button-main{
  border: 0 solid transparent;
  background: transparent;
  font-size: 1.2em;
  color: brown;
  outline: none;
}
mat-nested-tree-node h6 {
  color: brown;
  line-height: 20px;
  margin: 0;
  min-height: auto;
  padding: 0;
  align-items: stretch;
}
.div-node{
  height: 1.8em;;
}
.mat-tree-node {
  min-height: 0;
}
.TreeButtons {
  height: 0;
}
.mat-tree-disable{
  width: 0;
}
.treeMainButton{
  border-radius: 0;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
.mat-icon-button {
  line-height: 0;
  vertical-align: middle;
  margin-top: 0;
}
.mat-icon {
  line-height: 0;
  vertical-align: middle;
  margin-top: 0;
}
ul {
    padding-inline-start: 10px;
}
.btn-add{
  background: green;
}
.btn-remove{
  background: brown;
}
.div-line {
  border-top: 2px dashed darkmagenta;
  height: 18px;
}
img.image-icons{
  margin: 15px;
  width: 15px;
}
.isCheckedTreeItem{
  color: green;
  text-decoration: underline;
  font-size: 1.2em;
}
