<div>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl"
          class="example-tree"
          [ngClass]="{'mat-tree-disable':animationToLeftRight}">

  <mat-tree-node *matTreeNodeDef="let node"
                 matTreeNodeToggle>
    <li class="mat-tree-node">
      <button class="TreeButtons"
              mat-icon-button
              disabled ></button>

      <button class="tree-button"
              (click)="OnSelectedTreeItem(node)">{{node.name}}</button>
    </li>
  </mat-tree-node>

  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <li>
      <div class="mat-tree-node div-node" (mouseleave)="node.isVisible=false" (mouseenter)="node.isVisible=true">
        <button mat-icon-button matTreeNodeToggle class="treeMainButton"
                [attr.aria-label]="'toggle '">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
      <div>

      </div>

        <button class="tree-button-main"
                (click)="OnSelectedTreeItem(node)">{{node.name}}</button>

      </div>
      <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
</div>
