<div class="login-div">
  <div>
    <h1>Регистрация</h1>

    <input [(ngModel)]="userRegistration.name"
           placeholder="Никнейм"
           class="form-control">
    <input [(ngModel)]="userRegistration.password"
           placeholder="Пароль"
           class="form-control"
           type="password">
    <input [(ngModel)]="userRegistration.repeatPassword"
           placeholder="Пароль еще раз"
           class="form-control"
           type="password">
    <input [(ngModel)]="userRegistration.email"
           placeholder="Email"
           type="email"
           class="form-control">

    <button (click)='OnSubmit()'>Зарегестрироваться</button>
    <br>
      Уже зарегестрированы?
      <a [routerLink]="['/login']">Войдите</a>
  </div>
</div>
