.authorization-space{
  min-height: 800px; width: 100%; position: relative;
}
.authorization-window {
  border-radius: 15px;
  min-width: 350px;
  width: 500px;
  height: 60%;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 50px;
}

@media only screen and (max-width: 500px) {
  .authorization-window {
    border-radius: 0;
  }
  .authorization-space {
    position: fixed;
    bottom: 0;
    top: 20px;
    height: 100%;
  }
}

.user-info {
  height: 100%; position: relative;
}

.down-user-menu {
  position: absolute;
  bottom: 2%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.down-user-menu a {
  margin-left: 10px; margin-right: 10px;
}

.div-registration-content {
  position: relative;
}

.div-registration-content h1 {
  margin-bottom: 1.3em;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.input-registration input {
  width: 50%;
  margin-bottom: 1.2em;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  border: 1px solid #0052CC;
}

.btn-enter {
  width: 50%;
  height: 30px;
  background: transparent;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
