.authorization-space{
  min-height: 800px; width: 100%; position: absolute;
}
.authorization-window {
  position: absolute;
  border-radius: 15px;
  min-width: 350px;
  width: 600px;
  height: 70%;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 50px;
}

.h1-authorization-main {
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .authorization-window {
    border-radius: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .authorization-space {
    height: 100%; position: relative;
    border: 2px solid darkcyan;
  }
  .input-registration input {
    width: auto;
    padding-left: 2em;
  }
}

.user-info {
  height: 100%; position: relative;
}

.registr-menu {
  bottom: 2%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registr-menu a {
  margin-left: 10px; margin-right: 10px; padding-left: 10px;
}

.div-registration-content {
  position: relative;
  width: 100%;
}

.div-registration-content h1 {
  margin-bottom: 0.5em;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 1.3em;
}

.input-registration {

}

.input-registration input {
  width: 80%;
  margin-bottom: 1.2em;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  border: 1px solid darkkhaki;
}

.btn-enter {
  width: 50%;
  height: 30px;
  background: transparent;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 2em;
}
