.auth-main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  display: flex;
  justify-content: center;
}
.input-div {
  position: relative;
  height: 40px;
  margin: 20px 0;
  width: 100%;
}

.valid-input-div {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 40px;
  background: green;
  border-radius: 5px 0 0 5px;
}
.invalid-input-div {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 40px;
  background: brown;
  border-radius: 5px 0 0 5px;
}

.outlet-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 { font-size: 2em; color: black;}

form {width: 100%;}

.login-div {
  margin-top: -20%;
  width: 500px;
  display: flex;
  text-align: center;
  justify-content: center;
  input {
    width: 100%;
    height: 40px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #0052CC;
    outline: none;
    &.ng-valid.ng-touched {
      border: 1px solid green;
    }
    &.ng-invalid.ng-touched {
      border: 1px solid brown;
    }
  }

  button {
    width: 100%;
    height: 40px;
    background: brown;
    color: white;
    border-radius: 10px;
    border: 1px solid brown;
    margin-top: 5px;
  }
  ul {
    text-align: left;
    color: brown;
    margin: -15px 0 0 0;
  }
  a { color: brown; }
}
