app-edit-window {
  display: none;
}

.app-edit-window {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
  border-radius: 20px;
  animation-name: window-animation;
  animation-duration: 1s;

}
.edit-window-background {
  /* modal background fixed across whole screen */

  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  opacity: 0.75;
  background: #000;
}

.edit-window-body {
  padding: 20px;
  background-color: white;
  width: 80%;
  /* margin exposes part of the modal background */
  max-width: 1000px;
  position: absolute;
  left: 50%;
  top:30%;
  transform: translate(-50%, -50%);
}

.edit-window-open {
  overflow: hidden;
}

@keyframes window-animation {
  from{
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}
