.example-tree-invisible {
  display: none;
}
.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.btn-menu {
  width: 100px;
  height: 100px;
  right: 0;
  margin-right: 0;
  margin-top: 0;
  position: fixed;
}

.div-info{
  width: 10%;
}

.div-main {
  position: relative;
  height: 100%;
  display: flex;
}

.left-panel-div {
  height: 100vh;
  background: #0052CC;
  width: 40px;
  min-width: 40px;
}

.left-panel-div-buttons {
  position: fixed;
  min-width: 40px;
  width: 40px;
  z-index: 10000;
}

.left-panel-div-buttons button {
  width: 100%;
  height: 40px;
  background: transparent;
  margin-top: 3px;
  border: 0 solid transparent;
}

img {
  width: 80%;
  padding: 5px;
  outline: none;
  border: 0 solid transparent;
  border-bottom: 2px solid black;
}

.img-disable {
  opacity:0.4; -moz-opacity:0.8;
}

.normal-img {
  width: 100%;
}

.inverse-img {
  transform: scale(-1);
}

.div-left {
  height: 100vh; z-index: 999;
}

.div-right { width: 100%;}
