.div-container-row {
  display: flex;
  flex-wrap: wrap;
}

.div-button {
  position: absolute;
  bottom: 0;
}

li {
  margin: 10px;
}

p {
  text-align: center;
  margin-top: 2px;
  text-wrap: normal;
}

.animation-up-post {
  animation-name: PostUp;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.animation-down-post {
  animation-name: PostDown;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
@keyframes PostUp {
  0% {
    width: 200px;
    height: 200px;
  }
  100% {
    width: 400px;
    height: 400px;
  }
}
@keyframes PostDown {
  0% {
    width: 400px;
    height: 400px;
  }
  100% {
    width: 200px;
    height: 200px;
  }
}
input{
  width: 300px;
}
.btn-add{
  background: green;
}
.btn-remove{
  background: brown;
}
.div-updateSize{
  position: absolute;
  bottom: 0;
  right: 5px;
}
.div-content-right {
  padding: 1em;
  color: aliceblue;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 2px solid #c333;
  margin: 10px;
  position: relative;
  background-size: 500px;
  background: rgba(27, 27, 41, 0.8);
}

