.edit-window-main-div {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.input-edit-window-div p input{
  width: 100%;
  padding-right: 10px;
}

.input-edit-window-div {
  justify-content: flex-start;
}

.div-container-row {
  display: flex; flex-wrap: wrap;
}

.buttons-container {
  display: flex;
  left: 0;
  bottom: 0;
}

.div-button {
  position: absolute; bottom: 0;
}

li {
  margin: 10px;
}

p {
  text-align: center; margin-top: 2px; text-wrap: normal;
}

.animation-up-post {
  animation-name: PostUp;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.animation-down-post {
  animation-name: PostDown;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

input{
  width: 300px;
}
.btn-add{
  background: green;
}

.btn-remove{
  background: brown;
}

.div-updateSize{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

.div-content-right {
  padding: 1em;
  color: wheat;
  width: 200px;
  height: 200px;
  border-radius: 8px;
  margin: 10px;
  position: relative;
  background: rgba(27, 27, 41, 0.8);
  border: 2px solid #212121;
}

@media only screen and (max-width: 600px) {
  .div-container-row {
    position: relative;
    right: 0;
    width: 100%;
    padding-top: 10px;
  }
  .div-content-right {
    width: 100%;
    padding: 0;
    margin: 0 10px 10px 10px;
    height: 120px;
    z-index: 1;
  }
}
