/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-tree-invisible {
    display: none;
}
.-active .ng-bar-placeholder {
  height: 4px;
}
.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.three-col-grid .grid-item  {
  width: 20%; float: left;
}

.three-col-grid .grid-item-right  {
  width: 80%;
  float: right;
}

.btn-circle {
  width: 25px;
  height: 25px;
  border: 0 solid transparent;
  background: transparent;
  outline: none;
}
.btn-update{
  background: dodgerblue;
}
.btn-up{
  background-image: url("assets/images/rollUp.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #0052CC;
  border-radius: 10px;
}
.btn-down {
  background-image: url("assets/images/rollUp.png");
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(180deg);
  border: 1px solid #0052CC;
  border-radius: 10px;
  width: 120px;
  height: 120px;
}
.btn-background-image {
  background-image: url("assets/images/clear.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 5px;
}
.btn-save {
  color: #0052CC;
  width: 100px;
  height: 30px;
  border: 1px solid #0052CC;
  border-radius: 5px;
  bottom: 0;
  margin-bottom: 1em;
  margin-right: 10px;
}

