<div class="main">
  <div class="div-head">
      <h1>DeTree</h1>
    <div class="div-header">
      <a [routerLink]="'/spaceComponent'">Карточки</a>
      <a [routerLink]="'/'">Signed in</a>
      <a [routerLink]="'/boardComponent'">Доска</a>
    </div>
  </div>
  <div class="head-fixed"></div>

  <ng-progress id ="progressId"
               meteor
               [spinner]="false"
               [color]="'#0052CC'"></ng-progress>

  <router-outlet class="router-outlet-style"></router-outlet>

  <div class="div-down">
    <div class="div-info">
        <label>
          Введите вашу почту <input [(ngModel)]="loading">
        </label>
        <label>
          Тема обращения <input [(ngModel)]="loading">
        </label>
        <label>
          Текст <input [(ngModel)]="loading">
        </label>
    </div>
    <p>Все права защищены</p>
  </div>
</div>
