@font-face {
  font-family: "FontCustom";
  font-style: normal;
  src:
  local('FontCustom'),
  url(../assets/fonts/6622.ttf) format('ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.div-space {
  min-height: 800px;
}

.div-head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: black;
  width: 100%;
  z-index: 10000;
  align-items: center;
}

.logo h1 {
  font-size: 1.4em;
  text-align: center;
  font-style: normal;
}

.div-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.div-header a {margin-left: 10px; margin-right: 10px; font-size: 1em; text-align: center}

@media only screen and (max-width: 450px) {
  .div-header {
    justify-content: space-evenly;
    width: 100%;
  }
}

.div-down {
  padding: 30px;
  height: 400px;
  background: black;
  color: white;
  bottom: 0;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.btn-menu {
  width: 100px;
  height: 100px;
  right: 0;
  margin-right: 0;
  margin-top: 0;
  position: fixed;
}

.main {
  position: relative;
  background-image: url('../assets/images/space-background.jpg');
}

.div-logo {
  height: 100%;
  margin-left: 1.5em;
  display: inline-block;
  position: fixed;
}

h1 {
  color: white;
  margin-top: 4px;
  margin-bottom: auto;
  min-height: auto;
  margin-left: 10px;
  font-size: 1.8em;
}

.div-info{
  width: 10%;
}

.div-down input {
  color: brown;
}

.head-fixed {
  position: relative;
  height: 60px;
  background: transparent;
}
