@font-face {
  font-family: "FontCustom";
  font-style: normal;
  src:
  local('FontCustom'),
  url(../assets/fonts/6622.ttf) format('ttf');
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.div-header a{
  margin-right: 20px;
  font-size: 1.3em;
}
.div-down {
  padding: 30px;
  height: 400px;
  background: black;
  color: white;
  bottom: 0;
}
.example-tree-invisible {
    display: none;
  }
.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.btn-menu {
  width: 100px;
  height: 100px;
  right: 0;
  margin-right: 0;
  margin-top: 0;
  position: fixed;
}
.btn-header {
  background-color: dimgray;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.div-header {
  position: fixed;
  display: inline-block;
  right: 0;
  top: 10px;
}
.main {
  position: relative;
  background-image: url('../assets/images/space-background.jpg');
}

.div-logo {
  height: 100%;
  margin-left: 1.5em;
  display: inline-block;
  position: fixed;
}
h1 {
  color: white;
  margin-top: 4px;
  margin-bottom: auto;
  min-height: auto;
  margin-left: 10px;
}
.div-info{
  width: 10%;
}
.div-down input {
  color: brown;
}
.router-outlet-style {
  position: relative;
  top:60px;
  left: 0;
  margin-top: 60px;
}

.div-head {
  height: 60px;
  background: black;
  position: fixed;
  width: 100%;
  z-index: 10000;
}
.head-fixed {
  position: relative;
  height: 60px;
  background: transparent;

}
