@font-face {
  font-family: "FontCustom";
  font-style: normal;
  src:
  local('FontCustom'),
  url(../assets/fonts/6622.ttf) format('ttf');
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.div-header a{
  margin-right: 20px;
  font-size: 1.3em;
}
.div-down {
  padding: 30px;
  height: 400px;
  background: black;
  color: white;
  bottom: 0;
}
.example-tree-invisible {
    display: none;
  }
.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.btn-menu {
  width: 100px;
  height: 100px;
  right: 0;
  margin-right: 0;
  margin-top: 0;
  position: fixed;
}

.btn-header {
  background-color: dimgray;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.div-header{
  position: absolute;
  display: inline-block;
  right: 0;
}
.post-size {
  width: 200px;
  height: 200px;
  margin: 10px;
}
.div-head {
  background: black;
  height: 100px;
  padding: 10px;
}
.main{
  position: relative;
}
.div-logo{
  width: auto;
  display: inline-block;
  padding: 5px;
}
.div-head h1 {
  color: white;
}
.div-info{
  width: 10%;
}
.div-down input {
  color: brown;
}

