<div class="main">
  <div class="div-head">
    <div class="div-logo">
      <h1>DeTree</h1>
    </div>
    <div class="div-header">
      <a [routerLink]="'/spaceComponent'">Карточки</a>
      <a routerLink="">Signed in</a>
      <a>Signed out</a>
    </div>
  </div>

  <router-outlet></router-outlet>

  <div class="div-down">
    <div class="div-info">
        <label>
          Введите вашу почту <input [(ngModel)]="loading">
        </label>
        <label>
          Тема обращения <input [(ngModel)]="loading">
        </label>
        <label>
          Текст <input [(ngModel)]="loading">
        </label>
    </div>
    <p>Все права защищены</p>
  </div>
</div>
