.example-tree-invisible {
    display: none;
  }

  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  .btn-menu {
    width: 100px;
    height: 100px;
    right: 0;
    margin-right: 0;
    margin-top: 0;
    position: fixed;
  }

.btn-header {
  width: 60px;
  background-color: dimgray;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  height: 70px;
}
.div-header{
  position: absolute;
  right: 0;
}
.post-size {
  width: 200px;
  height: 200px;
  margin: 10px;
}

  .div-head {
    background: black;
    height: 70px;
  }

.div-left {
}

.div-right {
}
.div-main {
  position: relative;
  display: flex;
}

.animation-to-left {
  animation-name: AnimationToLeft;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.animation-to-Right {
  animation-name: AnimationToRight;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes AnimationToLeft {
  0% {
    width: 0;
  }
  100% {
    width: 400px;
  }
}
@keyframes AnimationToRight {
  0% {
    width: 400px;
  }
  100% {
    width: 0;
  }
}
